/* -----------------------
        GENERAL
   ----------------------- */

.kt-input-search__icon_right .kt-input-search__icon_input {
    width: 100%;
}
.kt-input-search__icon_right .kt-input-search__icon_input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.kt-input-search__icon_right .btn-search {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    padding: 0 10px;
    height: 38.39px;;
}
.arsip-wrapper .dataTables_length {
    display: flex;
}
.arsip-wrapper .dataTables_length label {
    display: flex;
    flex: 0 0 35%;
    justify-content: center;
    align-items: center;
}
.arsip-wrapper .dataTables_length label select {
    margin:0 7px;
}

.arsip-wrapper .dataTables_filter,
.dataTables_paginate {
    display:flex;
    justify-content: flex-end;
}
.arsip-wrapper .dataTables_filter label {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}
.arsip-wrapper .dataTables_filter label input {
    margin-left:7px;
}
.arsip-wrapper.buku-induk .dataTables_pager {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* .kt-input-icon.kt-input-icon--left .form-control {
    padding-left:1rem;
} */

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    border-radius:8px;
    border: solid 1px transparent;
    background: rgba(235,237,242,.4);
    transition:all 0.3s ease-in-out;
}
.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control:focus {
    background-color: white;
    border: solid 1px #5d78ff;
}
.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__logo {
    margin:0 auto 2rem auto;
}

/* ------------------------
    PORTLET : BACK BUTTON
   ------------------------ */

.kt-portlet .kt-portlet__head .kt-portlet__head-label.wrapper-back__button {
    width:100%;
}
.kt-portlet__head .back-button {
    padding-left:0;
}

/* ------------------------
          SIDEBAR
   ------------------------ */


.kt-header__topbar-welcome {
    width: 25px;
    height: auto;
    padding: 0;
    margin: 0 7px 0 0;
}
.kt-header__topbar-welcome img {
    width: inherit;
    height: auto;
}

/* ------------------------
          SIDEBAR
   ------------------------ */

/* Brand Logo */

.kt-aside__brand-logo {
    width: 170px;
    max-width: 170px;
}
.kt-aside__brand-logo a,
.kt-aside__brand-logo img  {
    width: inherit;
}

/* ------------------------
          LOADER
   ------------------------ */

.kt-loader--title {
    margin:10px 0 0;
}
.kt-loader--title h4 {
    font-weight: 500;
    letter-spacing: 0.1px;
}

/* ------------------------
       DETAIL PENGAJUAN
   ------------------------ */

.detail-pengajuan .kt-widget__head {
    display: flex !important;
    align-items: center !important;
}

.detail-pengajuan .kt-widget__head .kt-widget__media {
    width:70px;
}
.detail-pengajuan .kt-widget__head .kt-widget__media img {
    width: inherit !important;
    max-width: unset !important;
}
.detail-pengajuan .kt-widget.kt-widget--user-profile-2 .kt-widget__body .kt-widget__item .kt-widget__contact {
    justify-content: unset !important;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: solid 1px #f2f2f2;
}
.detail-pengajuan .kt-widget.kt-widget--user-profile-2 .kt-widget__body .kt-widget__item .kt-widget__contact:first-child {
    padding-top:0;
}
.detail-pengajuan .kt-widget.kt-widget--user-profile-2 .kt-widget__body .kt-widget__item .kt-widget__contact:last-child {
    border-bottom:none;
}
.detail-pengajuan .kt-widget.kt-widget--user-profile-2 .kt-widget__body .kt-widget__item .kt-widget__contact .kt-widget__label {
    width: 100px;
    max-width: 120px;
}
.detail-pengajuan .kt-widget.kt-widget--user-profile-1 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__subtitle {
    font-size:14px;
}
.detail-pengajuan .kt-portlet__details {
    display: flex;
    flex-direction: row;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail {
    padding:0 10px;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail.kt-portlet__c1 {
    padding-right:35px;
    width:50%;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail.kt-portlet__c2 {
    width:50%;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail.kt-portlet__c2 .kt-widget__detail{
    border-bottom:none;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail .kt-widget__detail {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #f2f2f2;
    padding: 15px 0;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail .kt-widget__detail .kt-widget__label{
    color: #48465b;
    font-weight: 600;
    margin-bottom:5px;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail .kt-widget__detail:first-child {
    padding-top:0;
}
.detail-pengajuan .kt-portlet__details .kt-portlet__column_detail .kt-widget__detail:last-child {
    padding-bottom:0;
    border-bottom:none;
}
.detail-pengajuan .kv-file-remove,
.ak-add-edit .kv-file-remove {
    display: none !important;
}
@media (min-width: 1024px) and (max-width:1280px) {
    .detail-pengajuan .kt-widget__head .kt-widget__media {
        width:50px;
    }
    .detail-pengajuan .kt-widget__head .kt-widget__username {
        font-size:1.1rem !important;
    }
}

@media (max-width: 1280px) {
    .detail-pengajuan .back-button {
        flex:0;
        padding:0;
    }
    .detail-pengajuan .back-button .btn-primary {
        background-color: transparent;
        border: none;
        color: #212529;
        transition:all 0.3s ease-in-out;
    }
    .detail-pengajuan .back-button .btn-primary:hover {
        background-color: #5867dd;
        color: #ffffff;
    }
    .detail-pengajuan .back-button .kt-hide__portable_mobile {
        display: none;
    }
}

/* ------------------------
            LAPORAN
   ------------------------ */

.text-centered {
    text-align: center;
}

.kt-laporan .kt-form-title {
    text-align: center;
    color: #595d6e;
    font-weight: 400;
    margin:20px 0 40px;
}
.kt-laporan .kt-laporan__filters {
    display: flex;
    flex-direction: column;
    width:75%;
    margin: 0 auto;
}
.kt-laporan .kt-laporan__filters .kt-laporan__filter {
    display: flex;
    flex-direction: row;
}
.kt-laporan .kt-laporan__filters .kt-laporan__filter .form-group{
    margin-right: 20px;
}
.kt-laporan .kt-laporan__filters .kt-laporan__filter.kt-laporan__filter-1 .form-group {
    flex: 0 0 calc(50% - 20px);
    margin-bottom:10px;
}
.kt-laporan .kt-laporan__filters .kt-laporan__filter.kt-laporan__filter-2 .form-group {
    flex: 0 0 calc(33.3% - 20px);
}
.kt-laporan .kt-laporan__filters .kt-laporan__filter .form-group:last-child {
    margin-right:0;
}
.kt-laporan .kt-portlet__foot {
    border-top:none;
    width: 75%;
    margin:0 auto;
    padding: 5px 25px;
}
.kt-laporan .kt-portlet__foot .btn {
    width: 100px;
}
.kt-laporan .table-title {
    color: #202528;
    margin:25px 0 40px;
}
.kt-laporan .table-signature th{
    padding-bottom:0;
}
.kt-laporan .table-signature .username-jabatan {
    font-weight: 500;
    text-decoration: underline;
}
@media (max-width: 762px) {
    .kt-laporan .kt-laporan__filters,
    .kt-laporan .kt-portlet__foot
     {
        width:100%;
    }
}

/* ------------------------
        LANDING PAGE
   ------------------------ */

.kt-landing-page.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
    padding-top: 0;
}
.kt-landing-page .kt-header-logo a {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.kt-landing-page .kt-header-logo p {
    margin: 0 0 0 15px;
    color: #fff;
    font-weight: 600;
    width: 50%;
    line-height: 16px;
}
.kt-landing-page .kt-header__topbar-user {
    height: 35px !important;
    justify-content: flex-end !important;
    border-radius: 0 !important
}
.kt-landing-page .kt-header__topbar-user a {
    color: #fff;
}
.kt-landing-page .kt-header__topbar-user a:hover {
    background-color:#384AD7;
    border-color:#384AD7;
    transition: all 0.3s ease-in-out;
}
.kt-landing-page .summary-wrapper h5 {
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #212529;
    margin: 30px 0 0;
}
.kt-landing-page .summary-wrapper .summary {
    border-top:none !important;
}
.kt-landing-page .summary-wrapper .summary .kt-widget__item {
    justify-content: center;
}
.kt-landing-page .kt-sc {
    background-size:cover;
    min-height: 300px;
    padding:65px 0 0 0;
}
.kt-landing-page .kt-sc .kt-sc-content {
    display: flex;
    justify-content: center;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--left {
    margin: 0 50px 0 0;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--left .image-wagub{
    width: 300px;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--right .image-nangunkerti {
    width: 600px;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--right .kt-decs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--right .kt-decs h1 {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--right .kt-decs h6 {
    color: #fff;
    font-size: 16px;
    width: 70%;
    text-align: center;
    line-height: 22px;
    opacity:.9;
}
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--left .image-wagub img,
.kt-landing-page .kt-sc .kt-sc-content .kt-sc--right .image-nangunkerti img {
    width: inherit;
}
@media (min-width: 1025px) {
    .kt-landing-page .kt-header {
        background-color: transparent;
        border-bottom: none;
    }
}

/* Custom Table For Balita */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-ue09{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#343434;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-dnw7{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#343434;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-mv9z{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#343434;text-align:center;vertical-align:top;width: 2%}
.tg .tg-ct1m{font-family:Verdana, Geneva, sans-serif !important;;border-color:#343434;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-dz57{font-family:Verdana, Geneva, sans-serif !important;;border-color:#343434;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-5u03{font-family:Verdana, Geneva, sans-serif !important;;border-color:#343434;text-align:center;vertical-align:top;width: 4%}
.tg .tg-rmlz{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#343434;text-align:center;vertical-align:top;width: 2%}
.tg .tg-nrny{background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top;width: 2%}
.tg .tg-t7rj{background-color:#657b83;color:#ffffff;border-color:#330001;text-align:center;vertical-align:top;width: 2%}

/* Custom Table For Ibu Hamil */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-g0zd{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-1odc{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:top;width: 2%}
.tg .tg-fvrg{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top;width: 2%}
.tg .tg-qxom{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-n8us{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-hfgu{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-0a7q{border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-wbf6{background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-nrny{background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top;width: 2%}

/* Custom Table For Wus Pus */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-g0zd{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}
.tg .tg-1odc{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:top;width: 1%}
.tg .tg-qxom{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}
.tg .tg-n8us{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}
.tg .tg-hfgu{font-family:Verdana, Geneva, sans-serif !important;;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}
.tg .tg-0a7q{border-color:#000000;text-align:center;vertical-align:middle;width: 2%}
.tg .tg-5pxk{font-family:Verdana, Geneva, sans-serif !important;;background-color:#657b83;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}
.tg .tg-wbf6{background-color:#657b83;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle;width: 1%}