<template>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content Head -->
        <div class="kt-subheader  kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        Form Registrasi
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">{{ state.header }}</span>
                </div>
            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label wrapper-back__button">
                                <div class="col-md-4 back-button mr-3">
                                    <router-link class="btn btn-primary" :to="{name: 'registrasi-index'}">
                                        <i class="fa fa-angle-left"></i>
                                        Kembali
                                    </router-link>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="kt-portlet__head-title">
                                        Form Registrasi {{ state.header }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form Tipe Registrasi-->
                            <!-- Bayi dan Balita Template Form -->
                            <div v-if="state.tipe == 1">
                                <form-balita :dasawisma="state.dasawisma" :tipe="state.tipe" />
                            </div>

                            <!-- Ibu Hamil Template Form -->
                            <div v-else-if="state.tipe == 2">
                                <form-ibu-hamil :dasawisma="state.dasawisma" :tipe="state.tipe" />
                            </div>

                            <!-- Wus Pus Template Form -->
                            <div v-else-if="state.tipe == 3">
                                <form-wus-pus :dasawisma="state.dasawisma" :tipe="state.tipe" />
                            </div>
                        <!--end::Form Tipe Registrasi-->
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import FormBalita from '../Registrasi/form-balita.vue'
    import FormIbuHamil from '../Registrasi/form-ibu-hamil.vue'
    import FormWusPus from '../Registrasi/form-wus-pus.vue'

    export default {
        name: 'Create-Registrasi',
        components: {
            FormBalita,
            FormIbuHamil,
            FormWusPus
        },
        props: ['tipe'],
        data() {
            return {
                state: {
                    header: '',
                    tipe: '',
                    dasawisma: ''
                }
            }
        },
        created() {
            this.fetchDataRegistrasi();
        },
        methods: {
            fetchDataRegistrasi() {
                let urlindex = `${APP_URL_BASE}/data-registrasi/registrasi/${this.tipe}`
                axios.get(urlindex)
                    .then(response => {
                        this.state = response.data
                })
            }
        }
    }
</script>