<template>
    <form id="form-wus-pus" action="javascript:void(0)" @submit="WusPusForm" method="post">
        <div class="kt-portlet__body">
            <div :class="['form-group row', errors.tgl_entry || errors.dasawisma_id ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>Tanggal Input :</label>
                    <div class="input-group date">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </div>
                        <input type="text" name="tgl_entry" v-model="state_post.tgl_entry" :class="['form-control', errors.tgl_entry ? 'is-invalid' : '']" readonly placeholder="Tanggal Input" id="kt_datepicker_1" value="" />
                        <div v-if="errors.tgl_entry" class="error invalid-feedback">{{ errors.tgl_entry[0] }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Dasawisma :</label>
                    <select :class="['form-control kt-selectpicker', errors.dasawisma_id ? 'is-invalid' : '']" data-live-search="true" name="dasawisma_id" v-model="state_post.dasawisma_id">
                        <option value="">Silahkan Pilih</option>
                        <option v-for="value in dasawisma" :key="value.index" :value="value.id">{{ value.nama_dasawisma }}</option>
                    </select>
                    <div v-if="errors.dasawisma_id" class="error invalid-feedback">{{ errors.dasawisma_id[0] }}</div>
                </div>
            </div>
            <div :class="['form-group row', errors.nik || errors.nama ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>NIK :</label>
                    <div class="kt-input-icon">
                        <input type="number" name="nik" v-model="state_post.nik" :class="['form-control', errors.nik ? 'is-invalid' : '']" placeholder="Masukkan Nomor NIK" value="" id="nik">
                        <div v-if="errors.nik" class="error invalid-feedback">{{ errors.nik[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-credit-card"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Nama :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="nama" v-model="state_post.nama" :class="['form-control', errors.nama ? 'is-invalid' : '']" placeholder="Masukkan Nama" value="" id="nama">
                        <div v-if="errors.nama" class="error invalid-feedback">{{ errors.nama[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-user-plus"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div :class="['form-group row', errors.nama_suami || errors.tgl_lahir ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label class="">Nama Suami :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="nama_suami" v-model="state_post.nama_suami" :class="['form-control', errors.nama_suami ? 'is-invalid' : '']" placeholder="Masukkan Nama Suami" value="" id="nama_suami">
                        <div v-if="errors.nama_suami" class="error invalid-feedback">{{ errors.nama_suami[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-users"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <label>Tanggal Lahir :</label>
                        <div class="input-group date">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                            <input name="tgl_lahir" v-model="state_post.tgl_lahir" :class="['form-control', errors.tgl_lahir ? 'is-invalid' : '']" readonly placeholder="Tanggal lahir" id="kt_datepicker_2" value="" />
                            <div v-if="errors.tgl_lahir" class="error invalid-feedback">{{ errors.tgl_lahir[0] }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="['form-group row', errors.tahapan_ks ? 'is-invalid' : '']">
                <div class="col-lg-12">
                    <label class="">Tahapan Keluarga Sejahtera :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="tahapan_ks" v-model="state_post.tahapan_ks" :class="['form-control', errors.tahapan_ks ? 'is-invalid' : '']" placeholder="Masukkan Tahapan Keluarga Sejahtera" value="" id="tahapan_ks">
                        <div v-if="errors.tahapan_ks" class="error invalid-feedback">{{ errors.tahapan_ks[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-users"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#preview_save">Selanjutnya</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="preview_save" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Pratinjau Form Registrasi Wus Pus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" v-if="inputActive">
                        <div class="kt-scroll" data-scroll="true" data-height="500">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Nama</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nama" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">NIK</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nik" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Nama Suami</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nama_suami" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Tanggal Lahir</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.tgl_lahir | formatBirthday" id="preview_input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" v-else>
                        <blockquote class="blockquote">
                            <center class="mb-0">Belum ada inputan data</center>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-success">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'

    export default {
        name: 'Form-Wus-Pus',
        props: ['dasawisma', 'tipe'],
        data() {
            return {
                reg_id:'',
                errors: [],
                message:'',
                message_error: '',
                state_post: {
                    _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    tgl_entry:'',
                    dasawisma_id: '',
                    nik: '',
                    nama: '',
                    nama_suami: '',
                    tgl_lahir: '',
                    tahapan_ks:''
                },
            }
        },
        mounted() {
            this.fetchAllPlugins();
        },
        methods: {
            fetchAllPlugins() {
                /* Bootstrap Select */
                $('.kt-selectpicker').selectpicker();

                /* Datepicker */
                var self = this;
                $('#kt_datepicker_1').datepicker({
                    format: 'yyyy-mm-dd',
                });
                $("#kt_datepicker_1").on("change",function(){
                    var selected = $(this).val();
                    self.state_post.tgl_entry = selected;
                });
                $('#kt_datepicker_2').datepicker({
                    format: 'yyyy-mm-dd',
                });
                $("#kt_datepicker_2").on("change",function(){
                    var selected = $(this).val();
                    self.state_post.tgl_lahir = selected;
                });
            },
            fetchSuccessSubmit() {
                toastr.options.timeOut = 2000
                toastr.options.extendedTimeOut = 2500
                toastr.success(this.message)
                setTimeout(function() {
                    window.location.reload()
                }, 3000)
            },
            fetchErrors() {
                $('#preview_save').modal('hide');
            },
            WusPusForm(e) {
                e.preventDefault();
                let currentObj = this;
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urlstorewus = `${APP_URL_BASE}/registrasi/store-wuspus`
                axios.post(urlstorewus, this.state_post, {paramsHeader})
                .then(response => {
                    this.reg_id = response.data.listings
                    this.errors = []
                    this.message = response.data.message
                    this.$router.push({
                        name: 'poli-index',
                        params: {
                            tipe: this.tipe,
                            reg_id: this.reg_id
                        }
                    })
                    this.fetchSuccessSubmit()
                })
                .catch(error => {
                    if (error.response !== null && error.response !== '') {
						if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                            this.fetchErrors()
                        }
                        else if (error.response.status == 500) {
                            this.message_error = error.response.data.errors.pesan
                            swal.fire({
                                text: this.message_error,
                                type: 'error',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                    }
                })
            }
        },
        computed: {
            inputActive() {
                return this.state_post.tgl_entry.length && this.state_post.nik.length && this.state_post.nama.length && this.state_post.nama_suami.length && this.state_post.tgl_lahir.length
            }
        },
        filters: {
            formatBirthday(tgl_lahir) {
                moment.locale('id')
                return moment(tgl_lahir).format('LL')
            }
        }
    }
</script>