<template>
    <form id="form-balita" action="javascript:void(0)" @submit="balitaForm" method="post">
        <div class="kt-portlet__body">
            <div :class="['form-group row', errors.tgl_entry || errors.dasawisma_id ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>Tanggal Input :</label>
                    <div class="input-group date">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </div>
                        <input type="text" name="tgl_entry" v-model="state_post.tgl_entry" :class="['form-control', errors.tgl_entry ? 'is-invalid' : '']" readonly placeholder="Tanggal Input" id="kt_datepicker_1" value="" />
                        <div v-if="errors.tgl_entry" class="error invalid-feedback">{{ errors.tgl_entry[0] }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Dasawisma :</label>
                    <select :class="['form-control kt-selectpicker', errors.dasawisma_id ? 'is-invalid' : '']" data-live-search="true" name="dasawisma_id" v-model="state_post.dasawisma_id">
                        <option value="">Silahkan Pilih</option>
                        <option v-for="value in dasawisma" :key="value.index" :value="value.id">{{ value.nama_dasawisma }}</option>
                    </select>
                    <div v-if="errors.dasawisma_id" class="error invalid-feedback">{{ errors.dasawisma_id[0] }}</div>
                </div>
            </div>
            <div :class="['form-group row', errors.nik || errors.nama_bayi ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>NIK Bayi :</label>
                    <div class="kt-input-icon">
                        <input type="number" name="nik" v-model="state_post.nik" :class="['form-control', errors.nik ? 'is-invalid' : '']" placeholder="Masukkan Nomor NIK" value="" id="nik">
                        <div v-if="errors.nik" class="error invalid-feedback">{{ errors.nik[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-credit-card"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Nama Bayi :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="nama_bayi" v-model="state_post.nama_bayi" :class="['form-control', errors.nama_bayi ? 'is-invalid' : '']" placeholder="Masukkan Nama Bayi" value="" id="nama_bayi">
                        <div v-if="errors.nama_bayi" class="error invalid-feedback">{{ errors.nama_bayi[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-user-plus"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div :class="['form-group row', errors.nama_ibu || errors.nama_ayah ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>Nama Ibu :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="nama_ibu" v-model="state_post.nama_ibu" :class="['form-control', errors.nama_ibu ? 'is-invalid' : '']" placeholder="Masukkan Nama Ibu" value="" id="nama_ibu">
                        <div v-if="errors.nama_ibu" class="error invalid-feedback">{{ errors.nama_ibu[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-users"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Nama Ayah :</label>
                    <div class="kt-input-icon">
                        <input type="text" name="nama_ayah" v-model="state_post.nama_ayah" :class="['form-control', errors.nama_ayah ? 'is-invalid' : '']" placeholder="Masukkan Nama Ayah" value="" id="nama_ayah">
                        <div v-if="errors.nama_ayah" class="error invalid-feedback">{{ errors.nama_ayah[0] }}</div>
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span>
                                <i class="la la-users"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div :class="['form-group row', errors.tgl_lahir_bayi || errors.jenis_kelamin_bayi ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>Tanggal Lahir :</label>
                    <div class="input-group date">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </div>
                        <input name="tgl_lahir_bayi" v-model="state_post.tgl_lahir_bayi" :class="['form-control', errors.tgl_lahir_bayi ? 'is-invalid' : '']" readonly placeholder="Tanggal lahir bayi" id="kt_datepicker_2" value="" />
                        <div v-if="errors.tgl_lahir_bayi" class="error invalid-feedback">{{ errors.tgl_lahir_bayi[0] }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Jenis Kelamin:</label>
                    <div class="kt-radio-inline">
                        <label class="kt-radio kt-radio--bold kt-radio--info">
                            <input type="radio" name="jenis_kelamin_bayi" v-model="state_post.jenis_kelamin_bayi" value="L"> Laki-Laki
                            <span></span>
                        </label>
                        <label class="kt-radio kt-radio--bold kt-radio--info">
                            <input type="radio" name="jenis_kelamin_bayi" v-model="state_post.jenis_kelamin_bayi" value="P"> Perempuan
                            <span></span>
                        </label>
                        <div v-if="errors.jenis_kelamin_bayi" class="error invalid-feedback">{{ errors.jenis_kelamin_bayi[0] }}</div>
                    </div>
                </div>
            </div>
            <div :class="['form-group row', errors.berat_lahir_bayi || errors.panjang_lahir_bayi ? 'is-invalid' : '']">
                <div class="col-lg-6">
                    <label>Berat Lahir :</label>
                    <div class="input-group">
                        <input type="number" step="any" name="berat_lahir_bayi" v-model="state_post.berat_lahir_bayi" :class="['form-control', errors.berat_lahir_bayi ? 'is-invalid' : '']" placeholder="Masukkan Berat Lahir Bayi" aria-describedby="basic-addon2" id="berat_lahir_bayi">
                        <div v-if="errors.berat_lahir_bayi" class="error invalid-feedback">{{ errors.berat_lahir_bayi[0] }}</div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Kg</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Panjang Lahir Bayi :</label>
                    <div class="input-group">
                        <input type="number" step="any" name="panjang_lahir_bayi" v-model="state_post.panjang_lahir_bayi" :class="['form-control', errors.panjang_lahir_bayi ? 'is-invalid' : '']" placeholder="Masukkan Panjang Lahir Bayi" aria-describedby="basic-addon2" id="panjang_lahir_bayi">
                        <div v-if="errors.panjang_lahir_bayi" class="error invalid-feedback">{{ errors.panjang_lahir_bayi[0] }}</div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Cm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#preview_save">Selanjutnya</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="preview_save" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Pratinjau Form Registrasi Bayi dan Balita</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" v-if="inputActive">
                        <div class="kt-scroll" data-scroll="true" data-height="500">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Nama Bayi</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nama_bayi" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Ibu</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nama_ibu" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Ayah</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.nama_ayah" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Tanggal Lahir</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.tgl_lahir_bayi | formatBirthday" id="preview_input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Berat</label>
                                            <div class="col-5 input-group">
                                                <input class="form-control" type="text" readonly :value="state_post.berat_lahir_bayi" id="preview_input">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Kg</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Panjang</label>
                                            <div class="col-5 input-group">
                                                <input class="form-control" type="text" readonly :value="state_post.panjang_lahir_bayi" id="preview_input">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="preview_input" class="col-2 col-form-label">Jenis Kelamin</label>
                                            <div class="col-10">
                                                <input class="form-control" readonly type="text" :value="state_post.jenis_kelamin_bayi | formatGender" id="preview_input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" v-else>
                        <blockquote class="blockquote">
                            <center class="mb-0">Belum ada inputan data</center>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-success">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'
    
    export default {
        name: 'Form-Balita',
        props: ['dasawisma', 'tipe'],
        data() {
            return {
                reg_id:'',
                errors: [],
                message:'',
                message_error: '',
                state_post: {
                    _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    tgl_entry:'',
                    dasawisma_id: '',
                    nik: '',
                    nama_bayi: '',
                    nama_ibu: '',
                    nama_ayah: '',
                    tgl_lahir_bayi: '',
                    jenis_kelamin_bayi:'',
                    berat_lahir_bayi: '',
                    panjang_lahir_bayi: ''
                }
            }
        },
        mounted() {
            this.fetchAllPlugins();
        }, 
        methods: {
            fetchAllPlugins() {
                /* Bootstrap Select */
                $('.kt-selectpicker').selectpicker();

                /* Datepicker */
                var self = this;
                $('#kt_datepicker_1').datepicker({
                    format: 'yyyy-mm-dd',
                });
                $("#kt_datepicker_1").on("change",function(){
                    var selected = $(this).val();
                    self.state_post.tgl_entry = selected;
                });
                $('#kt_datepicker_2').datepicker({
                    format: 'yyyy-mm-dd',
                });
                $("#kt_datepicker_2").on("change",function(){
                    var selected = $(this).val();
                    self.state_post.tgl_lahir_bayi = selected;
                });
            },
            fetchSuccessSubmit() {
                toastr.options.timeOut = 2000
                toastr.options.extendedTimeOut = 2500
                toastr.success(this.message)
                setTimeout(function() {
                    window.location.reload()
                }, 3000)
            },
            fetchErrors() {
                $('#preview_save').modal('hide');
            },
            balitaForm(e) {
                e.preventDefault();
                let currentObj = this;
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urlstorebalita = `${APP_URL_BASE}/registrasi/store-balita`
                axios.post(urlstorebalita, this.state_post, {paramsHeader})
                .then(response => {
                    this.reg_id = response.data.listings
                    this.errors = []
                    this.message = response.data.message
                    this.$router.push({
                        name: 'poli-index',
                        params: {
                            tipe: this.tipe,
                            reg_id: this.reg_id
                        }
                    })
                    this.fetchSuccessSubmit()
                })
                .catch(error => {
                    if (error.response !== null && error.response !== '') {
						if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                            this.fetchErrors()
                        }
                        else if (error.response.status == 500) {
                            this.message_error = error.response.data.errors.pesan
                            swal.fire({
                                text: this.message_error,
                                type: 'error',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                    }
                })
            }
        },
        computed: {
            inputActive() {
                return this.state_post.tgl_lahir_bayi.length && this.state_post.jenis_kelamin_bayi.length && this.state_post.nama_bayi.length && this.state_post.nama_ayah.length && this.state_post.nama_ibu.length && this.state_post.panjang_lahir_bayi.length && this.state_post.berat_lahir_bayi.length
            }
        },
        filters: {
            formatBirthday(tgl_lahir_bayi) {
                moment.locale('id')
                return moment(tgl_lahir_bayi).format('LL')
            },
            formatGender(jenis_kelamin_bayi) {
                if(jenis_kelamin_bayi == 'L') {
                    return 'Laki-Laki'
                }
                else {
                    return 'Perempuan'
                }
            }
        }
    }
</script>