<template>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content Head -->
        <div class="kt-subheader  kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Data Registrasi</h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">{{ state.header }}</span>
                </div>
            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="flaticon2-files-and-folders"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Data Registrasi {{ state.header }}
                                </h3>
                            </div>
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="flaticon2-indent-dots"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Jumlah Data {{ state.total}}
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions">
                                    <router-link class="btn btn-success" :to="{name: 'registrasi-create'}">
                                        <i class="flaticon2-plus"></i>
                                        Buat Data Registrasi Baru
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet .kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <form class="kt-form kt-form--label-right'" @submit.stop.prevent="fetchDataTabelRegistrasi" method="GET">
                                    <div class="kt-section__body kt-laporan__filters">
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label>Filter Berdasarkan Nama</label>
                                                <div class="kt-input-icon kt-input-icon--right">
                                                    <input name="search_keywords" v-model="state_post.search_keywords" type="text" class="form-control" placeholder="Silahkan masukkan nama" id="generalSearch">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                                        <span v-if="state_post.search_keywords != '' && state_post.search_keywords.length">
                                                            <button type="button" class="btn btn-outline-hover-danger btn-icon" id="reset" onclick="window.location.href=''">
                                                            <!-- <button type="button" class="btn btn-outline-hover-danger btn-icon" id="reset" @click.prevent="resetValue()"> -->
                                                                <i class="flaticon2-delete"></i>
                                                            </button>
                                                        </span>
                                                        <div class="kt-form__actions kt-form__actions--right">
                                                            <button type="submit" class="btn btn-primary" id="submit">
                                                                <i class="flaticon2-search"></i>
                                                            </button>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="kt-section__content">
                                        <div class="table-responsive">
                                            <!--begin: Datatable -->
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1" v-if="state.tipe == 1">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>No.</th>-->
                                                        <th>Nama Bayi</th>
                                                        <th>NIK Bayi</th>
                                                        <th>Tanggal Lahir Bayi</th>
                                                        <th>Jenis Kelamin Bayi</th>
                                                        <th>Berat Lahir Bayi</th>
                                                        <th>Panjang Lahir Bayi</th>
                                                        <th>Nama Ayah</th>
                                                        <th>Nama Ibu</th>
                                                        <th>Tanggal Entry Data</th>
                                                        <th width="10%">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="value in state_tabel1.data" :key="value.index">
                                                        <!-- <td>{{ value.no }}</td> -->
                                                        <td>{{ value.nama_bayi }}</td>
                                                        <td>{{ value.nik }}</td>
                                                        <td>{{ value.tgl_lahir_bayi | formatDateLahirBayi }}</td>
                                                        <td>{{ value.jenis_kelamin_bayi | formatGender }}</td>
                                                        <td>{{ value.berat_lahir_bayi }} Kg</td>
                                                        <td>{{ value.panjang_lahir_bayi }} Cm</td>
                                                        <td>{{ value.nama_ayah }}</td>
                                                        <td>{{ value.nama_ibu }}</td>
                                                        <td>{{ value.tgl_entry | formatDateEntry }}</td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-index', params: { tipe: state.tipe, reg_id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-expand"></i>
                                                            </router-link>
                                                            <button class="btn btn-danger btn-sm"
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Hapus Data Registrasi dan Poli" @click.prevent="deleteRegBalita(value.id)">
                                                                <i class="flaticon2-rubbish-bin-delete-button"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Datatable -->
                                            <!--begin: Datatable -->
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1" v-else-if="state.tipe == 2">
                                                <thead>
                                                    <tr>
                                                        <th>Nama</th>
                                                        <th>NIK</th>                            
                                                        <th>Tanggal Lahir</th>
                                                        <th>Umur</th>
                                                        <th>Tanggal Hamil</th>
                                                        <th>Umur Kehamilan</th>
                                                        <th>Hamil Ke</th>
                                                        <th>Nama Suami</th>
                                                        <th>Tanggal Entry Data</th>
                                                        <th width="10%">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="value in state_tabel2.data" :key="value.index">
                                                        <td>{{ value.nama }}</td>
                                                        <td>{{ value.nik }}</td>
                                                        <td>{{ value.tgl_lahir | formatDateLahir }}</td>
                                                        <td>{{ value.umur }} Tahun</td>
                                                        <td>{{ value.tgl_hamil | formatDateHamil }}</td>
                                                        <td>{{ value.umur_kehamilan }} Minggu</td>
                                                        <td>{{ value.hamil_count }}</td>
                                                        <td>{{ value.nama_suami }}</td>
                                                        <td>{{ value.tgl_entry | formatDateEntry }}</td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-index', params: { tipe: state.tipe, reg_id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-expand"></i>
                                                            </router-link>
                                                            <button class="btn btn-danger btn-sm"
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Hapus Data Registrasi dan Poli" @click.prevent="deleteRegIbuHamil(value.id)">
                                                                <i class="flaticon2-rubbish-bin-delete-button"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Datatable -->
                                            <!--begin: Datatable -->
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1" v-else>
                                                <thead>
                                                    <tr>
                                                        <th>Nama</th>         
                                                        <th>NIK</th>                       
                                                        <th>Tanggal Lahir</th>
                                                        <th>Umur</th>
                                                        <th>Nama Suami</th>
                                                        <th>Tanggal Entry Data</th>
                                                        <th width="10%">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="value in state_tabel3.data" :key="value.index">
                                                        <td>{{ value.nama }}</td>
                                                        <td>{{ value.nik }}</td>
                                                        <td>{{ value.tgl_lahir | formatDateLahir }}</td>
                                                        <td>{{ value.umur }} Tahun</td>
                                                        <td>{{ value.nama_suami }}</td>
                                                        <td>{{ value.tgl_entry | formatDateEntry }}</td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-index', params: { tipe: state.tipe, reg_id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-expand"></i>
                                                            </router-link>
                                                            <button class="btn btn-danger btn-sm"
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Hapus Data Registrasi dan Poli" @click.prevent="deleteRegWusPus(value.id)">
                                                                <i class="flaticon2-rubbish-bin-delete-button"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Datatable -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Section-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-if="state.tipe == 1">
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel1" 
                                            @paginate="fetchDataTabelRegistrasi()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-else-if="state.tipe == 2">
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel2" 
                                            @paginate="fetchDataTabelRegistrasi()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-else>
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel3" 
                                            @paginate="fetchDataTabelRegistrasi()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'
    import VuePagination from '../Layouts/pagination.vue'

    export default {
        name: 'Index-Registrasi',
        props: ['tipe'],
        components: {
            VuePagination
        },
        data() {
            return {
                _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                message:'',
                state: {
                    header: '',
                    tipe: '',
                    total:''
                },
                state_tabel1: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                state_tabel2: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                state_tabel3: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                state_post: {
                    search_keywords: ''
                }
            }
        },
        created() {
            this.fetchDataTabelRegistrasi();
        },
        methods: {
            start() {
                this.$Progress.start()
            },
            finish () {
                this.$Progress.finish()
            },
            fail () {
                this.$Progress.fail()
            },
            fetchDataTabelRegistrasi() {
                this.start()
                let urldatatabel = `${APP_URL_BASE}/data-registrasi/registrasi/dtb-registrasi/${this.tipe}`
                let tipe = this.tipe
                if(tipe == 1) {
                    axios.get(urldatatabel, {
                        params: {
                            search_keywords: this.state_post.search_keywords,
                            page: this.state_tabel1.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state_tabel1 = response.data.data_registrasi
                        this.state.total = response.data.data_registrasi.total
                        this.finish()
                    })
                }
                else if(tipe == 2) {
                    axios.get(urldatatabel, {
                        params: {
                            search_keywords: this.state_post.search_keywords,
                            page: this.state_tabel2.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state_tabel2 = response.data.data_registrasi
                        this.state.total = response.data.data_registrasi.total
                        this.finish()
                    })
                }
                else {
                    axios.get(urldatatabel, {
                        params: {
                            search_keywords: this.state_post.search_keywords,
                            page: this.state_tabel3.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state_tabel3 = response.data.data_registrasi
                        this.state.total = response.data.data_registrasi.total
                        this.finish()
                    })
                }
            },
            deleteRegBalita(id) {
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urldelete = `${APP_URL_BASE}/registrasi/delete-balita/${id}`
                swal.fire({
                    title: 'Apakah anda yakin?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#42d47c',
                    cancelButtonColor: '#db2a3e',
                    confirmButtonText: 'Ya, hapus!',
                    cancelButtonText: 'Tidak',
                }).then((result) => {
                    if (result.value) {
                        axios.delete(urldelete + this._token, {paramsHeader})
                            .then(response => {
                                this.message = response.data.message
                                swal.fire({
                                    title: 'Berhasil!',
                                    text: this.message,
                                    type: 'success',
                                    showConfirmButton: false,
                                    timer: 3500
                                })
                                this.fetchDataTabelRegistrasi()
                            })
                    } else if (result.dismiss === 'cancel') {
                        swal.fire(
                            'Batal',
                            'Gagal menghapus data',
                            'error'
                        )
                    }
                })
            },
            deleteRegIbuHamil(id) {
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urldelete = `${APP_URL_BASE}/registrasi/delete-ibu-hamil/${id}`
                swal.fire({
                    title: 'Apakah anda yakin?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#42d47c',
                    cancelButtonColor: '#db2a3e',
                    confirmButtonText: 'Ya, hapus!',
                    cancelButtonText: 'Tidak',
                }).then((result) => {
                    if (result.value) {
                        axios.delete(urldelete + this._token, {paramsHeader})
                            .then(response => {
                                this.message = response.data.message
                                swal.fire({
                                    title: 'Berhasil!',
                                    text: this.message,
                                    type: 'success',
                                    showConfirmButton: false,
                                    timer: 3500
                                })
                                this.fetchDataTabelRegistrasi()
                            })
                    } else if (result.dismiss === 'cancel') {
                        swal.fire(
                            'Batal',
                            'Gagal menghapus data',
                            'error'
                        )
                    }
                })
            },
            deleteRegWusPus(id) {
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urldelete = `${APP_URL_BASE}/registrasi/delete-wus-pus/${id}`
                swal.fire({
                    title: 'Apakah anda yakin?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#42d47c',
                    cancelButtonColor: '#db2a3e',
                    confirmButtonText: 'Ya, hapus!',
                    cancelButtonText: 'Tidak',
                }).then((result) => {
                    if (result.value) {
                        axios.delete(urldelete + this._token, {paramsHeader})
                            .then(response => {
                                this.message = response.data.message
                                swal.fire({
                                    title: 'Berhasil!',
                                    text: this.message,
                                    type: 'success',
                                    showConfirmButton: false,
                                    timer: 3500
                                })
                                this.fetchDataTabelRegistrasi()
                            })
                    } else if (result.dismiss === 'cancel') {
                        swal.fire(
                            'Batal',
                            'Gagal menghapus data',
                            'error'
                        )
                    }
                })
            },
            resetValue(){
                this.state_post.search_keywords = ''
            }
        },
        filters: {
            formatDateEntry(tgl_entry) {
                moment.locale('id')
                return moment(tgl_entry).format('LL')
            },
            formatDateLahirBayi(tgl_lahir_bayi) {
                moment.locale('id')
                return moment(tgl_lahir_bayi).format('LL')
            },
            formatDateLahir(tgl_lahir) {
                moment.locale('id')
                return moment(tgl_lahir).format('LL')
            },
            formatDateHamil(tgl_hamil) {
                moment.locale('id')
                return moment(tgl_hamil).format('LL')
            },
            formatGender(jenis_kelamin_bayi) {
                if(jenis_kelamin_bayi == 'L') {
                    return 'Laki-Laki'
                }
                else {
                    return 'Perempuan'
                }
            }
        }
    }
</script>