<template>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content Head -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        Form Poli Data
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc" id="kt_subheader_total">{{ state.header }}</span>
                </div>
            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label wrapper-back__button">
                        <div class="col-md-4 back-button mr-3">
                            <router-link class="btn btn-primary" :to="{name: 'poli-index', params: { tipe: this.tipe, reg_id: this.reg_id }}">
                                <i class="fa fa-angle-left"></i>
                                Kembali
                            </router-link>
                        </div>
                        <div class="col-md-8">
                            <h3 class="kt-portlet__head-title">
                                Form Poli Data {{ state.header }}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <!-- Bayi dan Balita Template Form -->
            <div v-if="state.tipe == 1">
                <form-balita :nama_bayi="state.nama_bayi" :tipe="state.tipe" :reg_id="this.reg_id" :id="this.id" />
            </div>

            <!-- Ibu Hamil Template Form -->
            <div v-else-if="state.tipe == 2">
                <form-ibu-hamil :nama="state.nama" :tipe="state.tipe" :reg_id="this.reg_id" :id="this.id" />
            </div>

            <!-- Wus Pus Template Form -->
            <div v-else-if="state.tipe == 3">
                <form-wus-pus :nama="state.nama" :tipe="state.tipe" :reg_id="this.reg_id" :id="this.id" />
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import FormBalita from '../Poli/form-balita.vue'
    import FormIbuHamil from '../Poli/form-ibu-hamil.vue'
    import FormWusPus from '../Poli/form-wus-pus.vue'
    
    export default {
        name: 'Create-Poli',
        components: {
            FormBalita,
            FormIbuHamil,
            FormWusPus
        },
        props: ['tipe', 'reg_id', 'id'],
        data() {
            return {
                state: {
                    header: '',
                    tipe: '',
                    nama_bayi: '',
                    nama: ''
                }
            }
        },
        created(){
            this.fetchDataPoli();
        },
        methods: {
            fetchDataPoli() {
                let urlindex = `${APP_URL_BASE}/data-poli/poli/dtb-poli/${this.tipe}/${this.reg_id}`
                let tipe = this.tipe
                if(tipe == 1) {
                    axios.get(urlindex)
                        .then(response => {
                            this.state.header = response.data.header
                            this.state.tipe = this.tipe
                            this.state.nama_bayi = response.data.nama_bayi.nama_bayi
                    })
                }
                else if(tipe == 2) {
                    axios.get(urlindex)
                        .then(response => {
                            this.state.header = response.data.header
                            this.state.tipe = this.tipe
                            this.state.nama = response.data.nama_ibu.nama
                    })
                }
                else {
                    axios.get(urlindex)
                        .then(response => {
                            this.state.header = response.data.header
                            this.state.tipe = this.tipe
                            this.state.nama = response.data.name.nama
                    })
                }
            }
        }
    }
</script>