<template>
    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <rect fill="#000000" x="2" y="5" width="13" height="14" rx="1.5"/>
                                    <rect fill="#000000" opacity="0.3" x="17" y="5" width="5" height="14" rx="1"/>
                                </g>
                            </svg> 
                            Pelayanan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <rect fill="#000000" x="9" y="5" width="13" height="14" rx="1.5"/>
                                    <rect fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1"/>
                                </g>
                            </svg>
                            Imunisasi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form id="form-poli-balita" action="javascript:void(0)" @submit="poliIbuForm" method="post">
                <input type="hidden" :value="state_post.id">
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Nama : {{ this.nama }}</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Bulan :</label>
                                                <div class="kt-input-icon">
                                                    <input name="bulan" class="form-control" type="text" disabled :value="state.bulan">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tanggal :</label>
                                                <div class="kt-input-icon">
                                                    <input name="tanggal" class="form-control" type="text" disabled :value="state.tanggal | formatJadwal">
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.berat ? 'is-invalid' : '']">
                                            <div class="col-lg-6" v-if="state.prev_data != null">
                                                <label>Berat Badan Sebelumnya :</label>
                                                <div class="input-group">
                                                    <input v-if="state.berat != null" name="berat_before" class="form-control" type="number" step="any" disabled :value="state.berat">
                                                    <input v-else name="berat_before" class="form-control" type="number" step="any" disabled placeholder="Tidak Ada Data">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Kg</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-else>
                                                <label>Berat Badan Sebelumnya :</label>
                                                <div class="input-group">
                                                    <input v-if="state.berat != null" name="berat_before" class="form-control" type="number" step="any" disabled :value="state.berat">
                                                    <input v-else name="berat_before" class="form-control" type="number" step="any" disabled placeholder="Tidak Ada Data">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Kg</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-if="state.prev_data != null">
                                                <label>Berat :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="berat" v-model="state_post.berat" :class="['form-control', errors.berat ? 'is-invalid' : '']" placeholder="Masukkan Berat" aria-describedby="basic-addon2" id="berat">
                                                    <div v-if="errors.berat" class="error invalid-feedback">{{ errors.berat[0] }}</div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Kg</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-else>
                                                <label>Berat :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="berat" v-model="state_post.berat" :class="['form-control', errors.berat ? 'is-invalid' : '']" placeholder="Masukkan Berat" aria-describedby="basic-addon2" id="berat">
                                                    <div v-if="errors.berat" class="error invalid-feedback">{{ errors.berat[0] }}</div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Kg</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.lila ? 'is-invalid' : '']">
                                            <div class="col-lg-6" v-if="state.prev_data != null">
                                                <label>LILA ( Lingkar Lengan Atas ) Sebelumnya :</label>
                                                <div class="input-group">
                                                    <input v-if="state.lila != null" name="lila_before" class="form-control" type="number" step="any" disabled :value="state.lila">
                                                    <input v-else name="lila_before" class="form-control" type="number" step="any" disabled placeholder="Tidak Ada Data">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Cm</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-else>
                                                <label>LILA ( Lingkar Lengan Atas ) Sebelumnya :</label>
                                                <div class="input-group">
                                                    <input v-if="state.lila != null" name="lila_before" class="form-control" type="number" step="any" disabled :value="state.lila">
                                                    <input v-else name="lila_before" class="form-control" type="number" step="any" disabled placeholder="Tidak Ada Data">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Cm</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-if="state.prev_data != null">
                                                <label class="">LILA ( Lingkar Lengan Atas ) :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="lila" v-model="state_post.lila" :class="['form-control', errors.lila ? 'is-invalid' : '']" placeholder="Masukkan Lingkar Lengan Atas" aria-describedby="basic-addon2" id="lila">
                                                    <div v-if="errors.lila" class="error invalid-feedback">{{ errors.lila[0] }}</div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Cm</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" v-else>
                                                <label class="">LILA ( Lingkar Lengan Atas ) :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="lila" v-model="state_post.lila" :class="['form-control', errors.lila ? 'is-invalid' : '']" placeholder="Masukkan Lingkar Lengan Atas" aria-describedby="basic-addon2" id="lila">
                                                    <div v-if="errors.lila" class="error invalid-feedback">{{ errors.lila[0] }}</div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Cm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.catatan ? 'is-invalid' : '']">
                                            <div class="col-lg-6">
                                                <label class="">Catatan :</label>
                                                <div class="input-group">
                                                    <input type="text" name="catatan" v-model="state_post.catatan" :class="['form-control', errors.catatan ? 'is-invalid' : '']" placeholder="Masukkan Catatan Jika Diperlukan" aria-describedby="basic-addon2" id="catatan">
                                                    <div v-if="errors.catatan" class="error invalid-feedback">{{ errors.catatan[0] }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Pelayanan Yang Diberikan</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.pmt" 
                                                            true-value="1"
                                                            false-value="0"> PMT
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.vitamin_a" 
                                                            true-value="1"
                                                            false-value="0"> Vitamin A
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Pemberian Imunisasi</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Tablet Tambah Darah :</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.tambah_darah_1" 
                                                            true-value="1"
                                                            false-value="0"> Tambah Darah I
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.tambah_darah_2" 
                                                            true-value="1"
                                                            false-value="0"> Tambah Darah II
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.tambah_darah_3" 
                                                            true-value="1"
                                                            false-value="0"> Tambah Darah III
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Imunisasi :</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_1" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT I
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_2" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT II
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_3" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT III
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_4" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT IV
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_5" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT V
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-xl-3"></div>
                                    <div class="col-lg-9 col-xl-6">
                                        <button type="submit" class="btn btn-success btn-wide btn-tall">
                                            <i class="flaticon2-checkmark"></i>
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'

    export default {
        name: 'Form-Ibu-Hamil',
        props: ['nama', 'tipe', 'reg_id', 'id'],
        data() {
            return {
                errors: [],
                message:'',
                message_error: '',
                state: {
                    tanggal:'',
                    bulan: '',
                    berat: '',
                    lila: '',
                    prev_data:''
                },
                state_post : {
                    _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    id: '',
                    berat: '',
                    lila: '',
                    pmt:'',
                    tambah_darah_1: '',
                    tambah_darah_2: '',
                    tambah_darah_3: '',
                    imunisasi_tt_1: '',
                    imunisasi_tt_2: '',
                    imunisasi_tt_3: '',
                    imunisasi_tt_4: '',
                    imunisasi_tt_5: '',
                    vitamin_a: '',
                    catatan: ''
                }
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                let url = `${APP_URL_BASE}/data-poli/poli/${this.tipe}/${this.reg_id}/${this.id}`
                axios.get(url)
                    .then(response => {
                        this.state.prev_data = response.data.prev_data
                        let prev = this.state.prev_data
                        if(prev != null)
                        {
                            this.state.berat = response.data.prev_data.berat
                            this.state.lila = response.data.prev_data.lila
                        }
                        else
                        {
                            this.state.berat = response.data.data.berat
                            this.state.lila = response.data.data.lila
                        }
                        this.state.tanggal = response.data.data.jadwal
                        this.state.bulan = response.data.data.month_name
                        this.state_post.id = this.id
                        this.state_post = response.data.data
                })
            },
            fetchSuccessSubmit() {
                toastr.success(this.message)
            },
            poliIbuForm(e)
            {
                e.preventDefault();
                let currentObj = this;
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urlstore = `${APP_URL_BASE}/poli/store-ibu-hamil`
                axios.post(urlstore, this.state_post, {paramsHeader})
                .then(response => {
                    this.errors = []
                    this.message = response.data.message
                    this.$router.push({
                        name: 'poli-index', 
                        params: {
                            tipe: this.tipe, 
                            reg_id: this.reg_id
                        }
                    })
                    this.fetchSuccessSubmit()
                })
                .catch(error => {
                    if (error.response !== null && error.response !== '') {
						if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        else if (error.response.status == 500) {
                            this.message_error = error.response.data.errors.pesan
                            swal.fire({
                                text: this.message_error,
                                type: 'error',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                    }
                })
            }
        },
        filters: {
            formatJadwal(tanggal) {
                moment.locale('id')
                return moment(tanggal).format('LL')
            }
        }
    }
</script>