<template>
    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <rect fill="#000000" x="2" y="5" width="13" height="14" rx="1.5"/>
                                    <rect fill="#000000" opacity="0.3" x="17" y="5" width="5" height="14" rx="1"/>
                                </g>
                            </svg> 
                            Pelayanan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <rect fill="#000000" x="9" y="5" width="13" height="14" rx="1.5"/>
                                    <rect fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1"/>
                                </g>
                            </svg>
                            Imunisasi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form id="form-poli-balita" action="javascript:void(0)" @submit="poliWusPusForm" method="post">
                <input type="hidden" :value="state_post.id">
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Nama : {{ this.nama }}</h3>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.lila ? 'is-invalid' : '']">
                                            <div class="col-lg-12">
                                                <label class="">LILA ( Lingkar Lengan Atas ) :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="lila" v-model="state_post.lila" :class="['form-control', errors.lila ? 'is-invalid' : '']" placeholder="Masukkan Lingkar Lengan Atas" aria-describedby="basic-addon2" id="lila">
                                                    <div v-if="errors.lila" class="error invalid-feedback">{{ errors.lila[0] }}</div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">Cm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.anak_hidup || errors.anak_meninggal ? 'is-invalid' : '']">
                                            <div class="col-lg-6">
                                                <label class="">Jumlah Anak Yang Hidup :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="anak_hidup" v-model="state_post.anak_hidup" :class="['form-control', errors.anak_hidup ? 'is-invalid' : '']" placeholder="Masukkan Jumlah Anak Yang Masih Hidup" aria-describedby="basic-addon2" id="anak_hidup">
                                                    <div v-if="errors.anak_hidup" class="error invalid-feedback">{{ errors.anak_hidup[0] }}</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="">Jumlah Anak Yang Meninggal :</label>
                                                <div class="input-group">
                                                    <input type="number" step="any" name="anak_meninggal" v-model="state_post.anak_meninggal" :class="['form-control', errors.anak_meninggal ? 'is-invalid' : '']" placeholder="Masukkan Jumlah Sudah Meninggal ( Jika Ada )" aria-describedby="basic-addon2" id="anak_meninggal">
                                                    <div v-if="errors.anak_meninggal" class="error invalid-feedback">{{ errors.anak_meninggal[0] }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Jenis Kontrasepsi Yang Digunakan</h3>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.jenis_kontrasepsi_pakai || errors.tanggal_penggantian ? 'is-invalid' : '']">
                                            <div class="col-lg-6">
                                                <label class="">Jenis Kontrasepsi :</label>
                                                <div class="input-group">
                                                    <input type="text" name="jenis_kontrasepsi_pakai" v-model="state_post.jenis_kontrasepsi_pakai" :class="['form-control', errors.jenis_kontrasepsi_pakai ? 'is-invalid' : '']" placeholder="Masukkan Jenis Kontrasepsi Yang Dipakai Saat Ini" aria-describedby="basic-addon2" id="jenis_kontrasepsi_pakai">
                                                    <div v-if="errors.jenis_kontrasepsi_pakai" class="error invalid-feedback">{{ errors.jenis_kontrasepsi_pakai[0] }}</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tanggal Penggantian :</label>
                                                <div class="input-group date">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon2">
                                                            <i class="la la-calendar-check-o"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" name="tanggal_penggantian" v-model="state_post.tanggal_penggantian" :class="['form-control', errors.tanggal_penggantian ? 'is-invalid' : '']" readonly placeholder="Tanggal Input" id="kt_datepicker_1" value="" />
                                                    <div v-if="errors.tanggal_penggantian" class="error invalid-feedback">{{ errors.tanggal_penggantian[0] }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="['form-group row', errors.jenis_kontrasepsi_penggantian ? 'is-invalid' : '']">
                                            <div class="col-lg-6">
                                                <label class="">Jenis Kontrasepsi :</label>
                                                <div class="input-group">
                                                    <input type="text" name="jenis_kontrasepsi_penggantian" v-model="state_post.jenis_kontrasepsi_penggantian" :class="['form-control', errors.jenis_kontrasepsi_penggantian ? 'is-invalid' : '']" placeholder="Masukkan Jenis Kontrasepsi Pengganti" aria-describedby="basic-addon2" id="jenis_kontrasepsi_penggantian">
                                                    <div v-if="errors.jenis_kontrasepsi_penggantian" class="error invalid-feedback">{{ errors.jenis_kontrasepsi_penggantian[0] }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Pemberian Imunisasi</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Imunisasi :</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_1" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT I
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_2" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT II
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_3" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT III
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_4" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT IV
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-checkbox-list">
                                                        <label class="kt-checkbox kt-checkbox--brand">
                                                            <input type="checkbox" v-model="state_post.imunisasi_tt_5" 
                                                            true-value="1"
                                                            false-value="0"> Imunisasi TT V
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-xl-3"></div>
                                    <div class="col-lg-9 col-xl-6">
                                        <button type="submit" class="btn btn-success btn-wide btn-tall">
                                            <i class="flaticon2-checkmark"></i>
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'

    export default {
        name: 'Form-Wus-Pus',
        props: ['nama', 'tipe', 'reg_id', 'id'],
        data() {
            return {
                errors: [],
                message:'',
                message_error: '',
                state: {
                    lila: ''
                },
                state_post : {
                    _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    id: '',
                    anak_hidup: '',
                    anak_meninggal: '',
                    lila: '',
                    imunisasi_tt_1: '',
                    imunisasi_tt_2: '',
                    imunisasi_tt_3: '',
                    imunisasi_tt_4: '',
                    imunisasi_tt_5: '',
                    jenis_kontrasepsi_pakai: '',
                    tanggal_penggantian: '',
                    jenis_kontrasepsi_penggantian: ''
                }
            }
        },
        created() {
            this.fetchData();
        },
        mounted() {
            this.fetchAllPlugins();
        },
        methods: {
            fetchAllPlugins() {
                /* Datepicker */
                var self = this;
                $('#kt_datepicker_1').datepicker({
                    format: 'yyyy-mm-dd',
                });
                $("#kt_datepicker_1").on("change",function(){
                    var selected = $(this).val();
                    self.state_post.tanggal_penggantian = selected;
                });
            },
            fetchData() {
                let url = `${APP_URL_BASE}/data-poli/poli/${this.tipe}/${this.reg_id}/${this.id}`
                axios.get(url)
                    .then(response => {
                        this.state.lila = response.data.data.lila
                        this.state_post.id = this.id
                        this.state_post = response.data.data
                })
            },
            fetchSuccessSubmit() {
                toastr.success(this.message)
            },
            poliWusPusForm(e)
            {
                e.preventDefault();
                let currentObj = this;
                const paramsHeader = {headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                }}
                let urlstore = `${APP_URL_BASE}/poli/store-wus-pus`
                axios.post(urlstore, this.state_post, {paramsHeader})
                .then(response => {
                    this.errors = []
                    this.message = response.data.message
                    this.$router.push({
                        name: 'poli-index', 
                        params: {
                            tipe: this.tipe, 
                            reg_id: this.reg_id
                        }
                    })
                    this.fetchSuccessSubmit()
                })
                .catch(error => {
                    if (error.response !== null && error.response !== '') {
						if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }
                        else if (error.response.status == 500) {
                            this.message_error = error.response.data.errors.pesan
                            swal.fire({
                                text: this.message_error,
                                type: 'error',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                    }
                })
            }
        }
    }
</script>