<template>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content Head -->
        <div class="kt-subheader  kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Data Poli</h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">{{ state.header }}</span>
                </div>
            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label wrapper-back__button">
                                <div class="col-md-4 back-button mr-3">
                                    <router-link class="btn btn-primary" :to="{name: 'registrasi-index', params: { tipe: this.tipe }}">
                                        <i class="fa fa-angle-left"></i>
                                        Kembali
                                    </router-link>
                                </div>
                                <div class="kt-portlet__head-label" v-if="state.tipe == 1">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon2-user-outline-symbol"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Nama Bayi : {{ state.nama_bayi }}
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-label" v-else-if="state.tipe == 2">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon2-user-outline-symbol"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Nama : {{ state.nama }}
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-label" v-else-if="state.tipe == 3">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon2-user-outline-symbol"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Nama : {{ state.nama }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet .kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="kt-section__content">
                                        <div class="table-responsive" style="overflow-x:auto;">
                                            <!--begin: Custom Table Balita -->
                                            <table class="tg" id="kt_table_1" style="undefined;table-layout: fixed; width: 2080px" v-if="state.tipe == 1">
                                                <colgroup>
                                                    <col style="width: 50px">
                                                    <col style="width: 60px">
                                                    <col style="width: 85px">
                                                    <col style="width: 120px">
                                                    <col style="width: 85px">
                                                    <col style="width: 85px">
                                                    <col style="width: 80px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="tg-ct1m" rowspan="3">Status</th>
                                                        <th class="tg-dz57" rowspan="3">Aksi</th>
                                                        <th class="tg-dz57" rowspan="3">Bulan</th>
                                                        <th class="tg-dz57" rowspan="3">Tanggal</th>
                                                        <th class="tg-dz57" rowspan="3">Berat Bayi (Kg)</th>
                                                        <th class="tg-dz57" rowspan="3">Panjang Bayi (Cm)</th>
                                                        <th class="tg-dz57">Pemberian ASI</th>
                                                        <th class="tg-5u03" colspan="3">Pelayanan Yang Diberikan</th>
                                                        <th class="tg-5u03" colspan="10">Pemberian Imunisasi</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="tg-dnw7" rowspan="2">ASI</td>
                                                        <td class="tg-rmlz" colspan="2">Vitamin A</td>
                                                        <td class="tg-ue09" rowspan="2">Oralit</td>
                                                        <td class="tg-ue09" rowspan="2">HB 0</td>
                                                        <td class="tg-ue09" rowspan="2">BCG</td>
                                                        <td class="tg-rmlz" colspan="4">Polio</td>
                                                        <td class="tg-rmlz" colspan="3">DPT / HB</td>
                                                        <td class="tg-mv9z" rowspan="2">Campak</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tg-nrny">A1</td>
                                                        <td class="tg-t7rj">A2</td>
                                                        <td class="tg-nrny">I</td>
                                                        <td class="tg-nrny">II</td>
                                                        <td class="tg-nrny">III</td>
                                                        <td class="tg-nrny">IV</td>
                                                        <td class="tg-nrny">I</td>
                                                        <td class="tg-nrny">II</td>
                                                        <td class="tg-nrny">III</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr v-for="(value, index) in state_tabel1.data" :key="value.index">
                                                        <td>{{ index + 1 }}</td> -->
                                                    <tr style="text-align:center;" v-for="value in state_tabel1.data" :key="value.index">
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.is_set == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-edit', params: { tipe: state.tipe, reg_id: state.reg_id, id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-notepad"></i>
                                                            </router-link>
                                                        </td>
                                                        <td>{{ value.month_name }}</td>
                                                        <td>{{ value.jadwal | formatDateJadwal }}</td>
                                                        <td>
                                                            <div v-if="value.berat != ''">
                                                                {{ value.berat }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.panjang != ''">
                                                                {{ value.panjang }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.asi == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.vitamin_a1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.vitamin_a2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.oralit == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_hbo == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_bcg == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_polio1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_polio2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_polio3 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_polio4 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_dpthb1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_dpthb2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_dpthb3 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imun_campak == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Custom Table Balita -->
                                            <!--begin: Custom Table Ibu Hamil -->
                                            <table class="tg" id="kt_table_1" style="undefined;table-layout: fixed; width: 2080px" v-else-if="state.tipe == 2">
                                                <colgroup>
                                                    <col style="width: 50px">
                                                    <col style="width: 60px">
                                                    <col style="width: 85px">
                                                    <col style="width: 120px">
                                                    <col style="width: 60px">
                                                    <col style="width: 60px">
                                                    <col style="width: 80px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                    <col style="width: 65px">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="tg-g0zd" rowspan="3">Status</th>
                                                        <th class="tg-hfgu" rowspan="3">Aksi</th>
                                                        <th class="tg-hfgu" rowspan="3">Bulan</th>
                                                        <th class="tg-hfgu" rowspan="3">Tanggal</th>
                                                        <th class="tg-hfgu" rowspan="3">Berat (Kg)</th>
                                                        <th class="tg-hfgu" rowspan="3">LILA (Cm)</th>
                                                        <th class="tg-0a7q" rowspan="3">PMT Pemulihan</th>
                                                        <th class="tg-1odc" colspan="3">Tablet Tambah Darah</th>
                                                        <th class="tg-1odc" colspan="5">Imunisasi TT</th>
                                                        <th class="tg-0a7q" rowspan="3">Vitamin A</th>
                                                        <th class="tg-hfgu" rowspan="3">Catatan</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="tg-fvrg" colspan="3">BKS</td>
                                                        <td class="tg-qxom" rowspan="2">I</td>
                                                        <td class="tg-qxom" rowspan="2">II</td>
                                                        <td class="tg-n8us" rowspan="2">II</td>
                                                        <td class="tg-wbf6" rowspan="2">IV</td>
                                                        <td class="tg-wbf6" rowspan="2">V</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tg-nrny">I</td>
                                                        <td class="tg-nrny">II</td>
                                                        <td class="tg-nrny">III</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="text-align:center;" v-for="value in state_tabel2.data" :key="value.index">
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.is_set == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-edit', params: { tipe: state.tipe, reg_id: state.reg_id, id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-notepad"></i>
                                                            </router-link>
                                                        </td>
                                                        <td>{{ value.month_name }}</td>
                                                        <td>{{ value.jadwal | formatDateJadwal }}</td>
                                                        <td>
                                                            <div v-if="value.berat != ''">
                                                                {{ value.berat }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.lila != ''">
                                                                {{ value.lila }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.pmt == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.tambah_darah_1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.tambah_darah_2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.tambah_darah_3 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_3 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_4 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_5 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.vitamin_a == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.catatan != ''">
                                                                {{ value.catatan }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Custom Table Ibu Hamil -->
                                            <!--begin: Custom Table Wus Pus -->
                                            <table class="tg" id="kt_table_1" v-else>
                                                <thead>
                                                    <tr>
                                                        <th class="tg-g0zd" rowspan="3">Status</th>
                                                        <th class="tg-hfgu" rowspan="3">Aksi</th>
                                                        <th class="tg-hfgu" rowspan="3">LILA (Cm)</th>
                                                        <th class="tg-1odc" colspan="2">Jumlah Anak</th>
                                                        <th class="tg-1odc" colspan="5">Imunisasi TT</th>
                                                        <th class="tg-0a7q" rowspan="3">Jenis Kontrasepsi <br>Yang Digunakan</th>
                                                        <th class="tg-5pxk" colspan="2">Penggantian Kontrasepsi</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="tg-n8us" rowspan="2">Hidup</td>
                                                        <td class="tg-wbf6" rowspan="2">Meninggal</td>
                                                        <td class="tg-qxom" rowspan="2">I</td>
                                                        <td class="tg-qxom" rowspan="2">II</td>
                                                        <td class="tg-n8us" rowspan="2">II</td>
                                                        <td class="tg-wbf6" rowspan="2">IV</td>
                                                        <td class="tg-wbf6" rowspan="2">V</td>
                                                        <td class="tg-n8us" rowspan="2">Tanggal</td>
                                                        <td class="tg-wbf6" rowspan="2">Jenis</td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="text-align:center;" v-for="value in state_tabel3.data" :key="value.index">
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.is_set == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <router-link :to="{name: 'poli-edit', params: { tipe: state.tipe, reg_id: state.reg_id, id: value.id }}"
                                                                class="btn btn-info btn-sm" 
                                                                data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Dark skin"
                                                                title="Lihat Detail Poli">
                                                                <i class="flaticon2-notepad"></i>
                                                            </router-link>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.lila != ''">
                                                                {{ value.lila }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.anak_hidup != ''">
                                                                {{ value.anak_hidup }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.anak_meninggal != ''">
                                                                {{ value.anak_meninggal }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_1 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_2 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_3 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_4 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="kt-iconbox__body" v-if="value.imunisasi_tt_5 == 1">
                                                                <div class="kt-iconbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.jenis_kontrasepsi_pakai != ''">
                                                                {{ value.jenis_kontrasepsi_pakai }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.tanggal_penggantian != ''">
                                                                {{ value.tanggal_penggantian }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div v-if="value.jenis_kontrasepsi_penggantian != ''">
                                                                {{ value.jenis_kontrasepsi_penggantian }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end: Custom Table Wus Pus -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Section-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-if="state.tipe == 1">
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel1" 
                                            @paginate="fetchDataTabelPoli()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-else-if="state.tipe == 2">
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel2" 
                                            @paginate="fetchDataTabelPoli()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                                <!--begin: Pagination-->
                                <div class="kt-section" v-else>
                                    <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                        <vue-pagination :pagination="state_tabel3" 
                                            @paginate="fetchDataTabelPoli()" 
                                            :offset="offset">
                                        </vue-pagination>
                                    </div>
                                </div>
                                <!--end::Pagination-->
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<script>
    import axios from 'axios'
    import {APP_URL_BASE} from '../Config/config'
    import moment from 'moment'
    import VuePagination from '../Layouts/pagination.vue'

    export default {
        name: 'Index-Poli',
        props: ['tipe', 'reg_id'],
        components: {
            VuePagination
        },
        data() {
            return {
                state: {
                    header: '',
                    tipe: '',
                    nama_bayi: '',
                    nama: '',
                    reg_id: ''
                },
                state_tabel1: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                state_tabel2: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                state_tabel3: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
            }
        },
        created() {
            this.fetchDataTabelPoli();
        },
        methods: {
            fetchDataTabelPoli() {
                let urldatatabel = `${APP_URL_BASE}/data-poli/poli/dtb-poli/${this.tipe}/${this.reg_id}`
                let tipe = this.tipe
                if(tipe == 1) {
                    axios.get(urldatatabel, {
                        params: {
                            page: this.state_tabel1.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state.nama_bayi = response.data.nama_bayi.nama_bayi
                        this.state.reg_id = this.reg_id
                        this.state_tabel1 = response.data.data_poli
                    })
                }
                else if(tipe == 2) {
                    axios.get(urldatatabel, {
                        params: {
                            page: this.state_tabel2.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state.reg_id = this.reg_id
                        this.state.nama = response.data.nama_ibu.nama
                        this.state_tabel2 = response.data.data_poli
                    })
                }
                else {
                    axios.get(urldatatabel, {
                        params: {
                            page: this.state_tabel3.current_page
                        }
                    })
                    .then(response => {
                        this.state = response.data
                        this.state.reg_id = this.reg_id
                        this.state.nama = response.data.name.nama
                        this.state_tabel3 = response.data.data_poli
                    })
                }
            }
        },
        filters: {
            formatDateJadwal(jadwal) {
                moment.locale('id')
                return moment(jadwal).format('LL')
            },
            formatDateLahirBayi(tgl_lahir_bayi) {
                moment.locale('id')
                return moment(tgl_lahir_bayi).format('LL')
            },
            formatDateLahir(tgl_lahir) {
                moment.locale('id')
                return moment(tgl_lahir).format('LL')
            },
            formatDateHamil(tgl_hamil) {
                moment.locale('id')
                return moment(tgl_hamil).format('LL')
            },
            formatGender(jenis_kelamin_bayi) {
                if(jenis_kelamin_bayi == 'L') {
                    return 'Laki-Laki'
                }
                else {
                    return 'Perempuan'
                }
            }
        }
    }
</script>